{% extends 'index.html' %}
{% block content%}
<!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Engro</title>
    <script type="text/javascript">// <![CDATA[
        function loading(){
            $("#loading").show();
            $("#content").hide();       
        }
// ]]></script>
<style>
div#loading {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: url('/media/loadingimage.gif') no-repeat;
  display: none;
  cursor: wait;
  }
</style>
 </head>
 <body>
 


<h1>Upload Bank PDF</h1>
<!-- image upload start-->

 <div class="container pt-7">
<table width = "400">
    <tr>
    <td>

<form method="post" enctype="multipart/form-data">
      {% csrf_token %}
     {{ form.as_p }}

</td>
<td><button type="submit" class="btn btn-primary" onclick="loading();">Upload</button> </td>
</form>
</tr>
</table>

  <h1>Result:</h1>
    

    


    {% if bank_text %} 
         <img src="/media/p0-1.png" ></img> <br>

<hr>
<h2>Account Summary</h2><br>
<hr>    
{{ bank_text.0}}<br>
{{ bank_text.1}}<br>
{{ bank_text.2}}<br>
{{ bank_text.3}}<br>
{{ bank_text.4}}<br>
{{ bank_text.5}}<br>
{{ bank_text.6}}<br>
{{ bank_text.7}}<br>
<hr>
<center><h2>Your Expense Report</h2><br></center>
<h3>Expenses: </h3>
<hr>
<pre>{{ bank_text.8}}</pre>
<hr>
<h3>Incomes: </h3>
<hr>
<pre>{{ bank_text.9}}</pre>


    {% else %}
        The extracted text will be displayed here.
    {% endif %}

 
    
<!-- image upload end -->
 </div> 

</body>
</html>

{% endblock %}