{% extends 'index.html' %}
{% block content%}
<!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Engro</title>
 </head>
 <body>
 


<h1>Upload Bank PDF</h1>
<!-- image upload start-->
 <div class="container pt-7">
<table width = "400">
    <tr>
    <td>

<form method="post" enctype="multipart/form-data">
      {% csrf_token %}
     {{ form.as_p }}

</td>
<td><button type="submit" class="btn btn-primary">Upload</button> </td>
</form>
</tr>
</table>

  <h1>Result:</h1>
    

    

    {% if bank_text %} 
         <img src="/media/p0-1.png" ></img> <br>

    <pre>{{ bank_text }}<pre> <br>
    

        

    {% else %}
        The extracted text will be displayed here.
    {% endif %}

 
    
<!-- image upload end -->
 </div> 
</body>
</html>

{% endblock %}