{% extends 'index.html' %}
{% block content%}
<!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <title>Engro</title>
 </head>
 <body>
 


<h1>Upload Voter ID Image</h1>
<!-- image upload start-->
 <div class="container pt-7">
<table width = "400">
    <tr>
    <td>

<form method="post" enctype="multipart/form-data">
      {% csrf_token %}
     {{ form.as_p }}

</td>
<td><button type="submit" class="btn btn-primary">Upload</button> </td>
</form>
</tr>
</table>

  <h1>Result:</h1>
  
    {% if img_src %}
        <img src="{{ img_src }}" width="600" height="400">
    {% endif %}
    <br>
    {% if voterid_text %}
        <img src="/media/Face2.jpg" ></img> <br>
        <p> The extracted text from the image above is: <h2><b> {{ voterid_text }} </b></h2></p>
        

        

    {% else %}
        The extracted text will be displayed here.
    {% endif %}
<!-- image upload end -->
 </div> 
</body>
</html>

{% endblock %}